# 欠損値への対応

In [5]:
import numpy as np
import pandas as pd
# サンプルのデータセットを作成
df = pd.DataFrame(
    {
        "A": [1, np.nan, 3, 4, 5],
        "B": [6, 7, 8, np.nan, 10],
        "C": [11, 12, 13, 14, 15]
    }
)
df

     A     B   C
0  1.0   6.0  11
1  NaN   7.0  12
2  3.0   8.0  13
3  4.0   NaN  14
4  5.0  10.0  15

In [6]:
# 各要素が欠損値かどうかを確かめる
df.isnull()

       A      B      C
0  False  False  False
1   True  False  False
2  False  False  False
3  False   True  False
4  False  False  False

### 欠損値の除去

In [11]:
# 欠損値の存在する行を除去する
df.dropna(axis=0)

     A     B   C
0  1.0   6.0  11
2  3.0   8.0  13
4  5.0  10.0  15

In [12]:
# 欠損値の存在する列を除去する
df.dropna(axis=1)

    C
0  11
1  12
2  13
3  14
4  15

### 欠損値の補完

In [ ]:
from sklearn.impute import SimpleImputer
# 平均値で欠損値を補完するインスタンスを作成する
imp = SimpleImputer(strategy="mean")
# 欠損値を補完
imp.fit(df)
imp.transform(df)