# データの前処理

In [1]:
import numpy as np
import pandas as pd
# サンプルのデータセットを作成
df = pd.DataFrame(
    {
        "A": [1, np.nan, 3, 4, 5],
        "B": [6, 7, 8, np.nan, 10],
        "C": [11, 12, 13, 14, 15]
    }
)
df

     A     B   C
0  1.0   6.0  11
1  NaN   7.0  12
2  3.0   8.0  13
3  4.0   NaN  14
4  5.0  10.0  15

## 欠損値の削除

In [ ]:
df.dropna() # 欠損値を削除

     A     B   C
0  1.0   6.0  11
2  3.0   8.0  13
4  5.0  10.0  15

## 欠損値の補完

In [ ]:
df.ffill() # 前の値を繰り返す
df.bfill() # 次の値を繰り返す
df.fillna() # 指定された値で埋める
df.fillna(method="model_evaluation.ipynb") # 平均値で埋める
df.fillna(method="median") # 中央値で埋める
df.fillna(method="mode") # 最頻値で埋める